@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Community Brands</h1>
        <p class="lead"><b>Community Brands India App Modernizaton Tech Meetup</b></p>
    </section>
</main>